@import url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2);

* {
  margin: 0px;
  padding: 0px;
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
}
body {
  background-color: black;
  margin: 0px;
  color: #f6f2f2;
}

.main {
  display: flex;
  flex-direction: column;
  height: 3000px;
}

.background {
  position: relative;
  width: 100%; /* adjust as needed */
  height: 800px; /* adjust as needed */
  overflow: hidden; /* to hide the overflow of the image */
}

.background img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-90%, -60%);
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

.black-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-a {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
}

.header {
  flex: 1;
  right: 150px;
  left: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  height: 80px;
}

.logo svg {
  height: 120px;
}

.header-right {
  display: flex;
  flex: 2;
  height: 32px;
  align-items: end;
  justify-content: end;
}

.lang {
  display: flex;
  border: 0.5px solid rgb(255, 255, 255, 0.3);
  margin-right: 30px;
  margin-left: 30px;
  height: 32px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.lang p {
  flex: 1;
  padding-right: 5px;
}

.lang div {
  flex: 2;
}

.lang-select {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700px;
  border: none;
  background-color: transparent;
  color: #fff;
  height: 32px;
  padding-right: 5px;
}

.lang option {
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  background-color: black;
  border: none;
}

.main-a-middlebox {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
}

.line-1 {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.line-2 {
  font-size: 1.15rem;
  font-weight: 500px;
  margin-top: 1rem;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-3 {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500px;
  text-align: center;
}

.search-input-button {
  display: flex;
  flex: 1;
  padding: 10px;
  align-items: center;
}

.search-input-button input {
  height: 55px;
  width: 400px;
  margin-right: 10px;
  background-color: transparent;
  border: 0.5px solid gray;
  color: #fff;
  font-size: 1rem;
  padding-left: 20px;
}

.search-input-button input::placeholder {
  color: #fff;
  font-size: 16px;
}
.search-input-button input:focus {
  outline: 2px solid white;
  border-radius: 5px;
  box-shadow: none;
}

.getstarted {
  height: 55px;
  align-items: center;
  justify-content: space-between;
}

.search-input-button p {
  display: inline-block;
  font-size: 25px;
}

.gt {
  margin-left: 8px;
}

@media (max-width: 1276px) {
  .header {
    right: 0;
    left: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 1023px) {
  .lang {
    margin-right: 5px;
  }

  .line-2,
  .line-3 {
    font-size: 1.125rem;
  }

  .line-1 {
    font-size: 38px;
  }
}
@media (max-width: 450px) {
  .lang-select {
    max-width: 18px;
  }
  .logo svg {
    padding: 30px;
  }

  .line-2,
  .line-3 {
    font-size: 1rem;
  }

  .line-1 {
    font-size: 1.8rem;
  }

  .search-container {
    line-height: 30px;
  }

  .search-input-button input {
    height: 45px;
  }
}

@media (max-width: 750px) {
  .logo svg {
    padding: 30px;
  }
  .search-input-button {
    flex-direction: column;
  }

  .getstarted {
    margin-top: 20px;
  }
}

/*   B - Block              */

.main-b {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  padding-left: 10%;
}

.text-block {
  flex: 1;
  border: 1px solid red;
  flex-direction: row;
  padding: 80px 0px 80px 80px;
}

.text-block p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.text-block p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500px;
  text-align: left;
  margin-top: 10px;
}

.video-block {
  position: relative;
}

.tv-container {
  position: relative;
  flex: 1;
}

.tv-container img {
  width: 80%;

  border: 1px solid slateblue;
}

.video-container {
  position: absolute;
  top: 20.5%;
  right: 200px;
}

.video-container video {
  width: 375px;
  height: 210px;
}
