@import url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2);

* {
  margin: 0px;
  padding: 0px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
}
body {
  background-color: black;
  margin: 0px;
  color: #fff;
}

.main {
  flex-direction: column;
  background-color: dodgerblue;
  flex-shrink: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-position: center;
}

.main-a {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  height: 80px;
}

.logo svg {
  height: 120px;
}

.header-right {
  display: flex;
  flex: 2;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  justify-content: end;
}

.lang {
  display: flex;
  border: 0.5px solid rgb(255, 255, 255, 0.3);
  margin-right: 30px;
  margin-left: 30px;
  height: 32px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.lang p {
  flex: 1;
  padding-right: 5px;
}

.lang div {
  flex: 2;
}

.lang-select {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700px;
  border: none;
  background-color: transparent;
  color: #fff;
  height: 32px;
  padding-right: 5px;
}

.lang option {
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  background-color: black;
  border: none;
}

.btn-div {
  display: flex;
  width: 100px;
}

@media (max-width: 1276px) {
  .header {
    padding: 0; /* Remove padding */
  }
}

@media (max-width: 450px) {
  .lang-select {
    max-width: 18px; /* Shrink width as needed */
  }
  .logo svg {
    padding: 30px;
  }
}
